html , body {
    width: 100% !important;
    overflow-x: hidden !important;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    padding: 40px 5%;
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-content: end;
    z-index: 3;
}

.hamburger {
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger-box {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 120%;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 24px;
    height: 2px;
    background: rgba(51, 51, 51, 1);
    border-radius: 5rem;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}
.hamburger--squeeze .hamburger-inner {
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
    transition: top 0.1s 0.14s ease, opacity 0.1s ease;
}
.hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.14s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease, opacity 0.1s 0.14s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

header .logo-red {
    margin-top: 24px;
    position: fixed;
}

main {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
}

main .second-column {
    width: 78%;
    margin-left: 22%;
    font-family: 'Mona Sans', sans-serif;
}

main .second-column > div {
    padding-right: 10%;
}

main .third-column {
    /*width: 20%;*/
    max-width: 500px;
    display: flex;
    position: fixed;
    font-family: 'Mona Sans', sans-serif;
    font-weight: 400;
    padding-left: 60px;
}

main .third-column .tree-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    font-weight: 400;
    color: rgba(130, 130, 130, 1);
    line-height: 38px;
    font-family: 'Mona Sans', sans-serif;
}

main .third-column .tree-container p {
    line-height: 30px;
    font-family: 'Mona-Sans', sans-serif;
    font-weight: 400;
}

main .third-column .tree-container p a{
    font-weight: 400;
    margin: 0 0 18px;
    color: rgba(81, 81, 81, 1);

}

main .third-column .tree-container p a.active {
    color: red;
}

main .third-column .tree-container p a .current-dot {
    padding-top: 5px;
    padding-right: 12px;
    color: transparent;
}

main .third-column .tree-container a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Mona Sans', sans-serif;
    font-weight: 500;
    line-height: 19px;
    color: rgba(51, 51, 51, 1);
}

main .third-column .tree-container a.current .current-dot{
    color: red;
}

main .third-column .tree-container a:hover {
    color: rgb(84, 84, 84);
}

main .second-column h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: rgba(51, 51, 51, 1);
}

main .second-column h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    padding-top: 36px;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

main .second-column h3 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: rgba(51, 51, 51, 1);
    padding-top: 48px;
    margin: 0;
}

main .second-column h4 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(51, 51, 51, 1);
}

.bottom-border {
    border-bottom: 1px solid rgba(242, 242, 242, 1);
    width: 100%;
    padding-bottom: 48px;
    margin-top: 28px;
}

.null-margin {
    margin: 0;
}
main .second-column img {
    width: 100%;
}

main .second-column pre {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: rgba(79, 79, 79, 1);
    white-space: pre-wrap;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

main .second-column p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: rgba(79, 79, 79, 1);
    font-family: 'Inter', sans-serif;
}

main .second-column a {
    color: rgba(33, 139, 255, 1);
}

main .second-column ol {
    font-family: 'Inter', sans-serif;
    color: rgba(51, 51, 51, 1);
    line-height: 30px;
    font-size: 16px;
    margin: 0;
}

main ol.no-padding-list {
    padding-left: 1em;
}

main .second-column ol li {
    margin-top: 10px;
}

main .second-column ol a {
    color: rgba(33, 139, 255, 1);
}

main .second-column .dots {
    list-style-type: inherit;
}

main .second-column .image-container {
    padding: 10px 0;
    gap: 10px;
}

.intent-space {
    margin-left: 5%;
}

.inter-regular {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: rgba(79, 79, 79, 1);
}

.inter-medium {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
}

main .second-column .mobile-code-example {
    width: 303px;
}

main .second-column .code-container {
    max-width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    gap: 10px;
    position: relative;
}

.violet {
    color: rgba(102, 57, 186, 1);
}

p a {
    color: rgba(33, 139, 255, 1);
}

main pre code {
    font-family: "Inconsolata", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    white-space: pre-wrap;
    word-break: break-word;
    border-radius: 8px;
    background-color: rgba(246, 248, 250, 1);
}

main code {
    font-family: "Inconsolata", sans-serif;
    font-size: 18px;
    background-color: rgb(245, 245, 245);
    padding: .2em .4em;
    border-radius: 6px;
}


main .second-column .code-container .code-frame-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

main .second-column .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 16px;
    margin-right: 20%;
    margin-top: 30px;
}

main .second-column .container .article-block{
    width: 285px;
    border: 1px solid rgba(60, 60, 67, 1);
    padding: 12px 12px 24px 12px;
    border-radius: 12px;
    margin-bottom: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}

main .second-column .container .article-block img {
    width: 100%;
    height: auto;
    max-height: 150px;
    margin-bottom: 10px;
}

main .second-column .container .article-block p {
    color: rgba(60, 60, 67, 1);
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-top: 0;
    padding-bottom: 28px;
    margin-bottom: auto;
}

main .second-column .container .article-block a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid rgba(217, 217, 217, 1);
    color: rgba(60, 60, 67, 0.7);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    margin-top: auto;
    margin-bottom: 18px;
    text-decoration: none;
    text-align: center;
}

main .second-column .container .article-block a:hover {
    background: rgba(241, 8, 55, 1);
    color: rgba(255, 255, 255, 1);
}

main .footer {
    display: none;
}

footer {
    background-color: transparent;
    padding: 40px 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    color: rgba(148, 148, 148, 1);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    max-width: 1400px;
    margin: 0 auto;
}

footer pre {
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

footer .social-media-container a {
    text-decoration: none;
}

footer .social-media-container svg {
    padding: 0 4px;
}

@media (max-width: 992px) {
    header {
        top: 0;
        position: fixed;
        background: #FFFFFF;
        width: 90%;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.04);
    }

    header .logo-red {
        position: relative;
    }

    main {
        margin-top: 140px;
        box-sizing: border-box;
        position: fixed;
        overflow-y: auto;
        height: calc(100vh - 100px);
    }

    main .second-column {
        width: 100%;
        margin: 0;
    }

    main .second-column > div {
        padding-right: 10%;
        padding-left: 5%;
    }

    main .third-column {
        min-width: 290px;
        min-height: 90vh;
        width: 35%;
        background-color: rgb(255, 255, 255);
        z-index: 2;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.04);
        transition: opacity 0.5s ease, transform 0.5s ease;
        display: block;
        margin-left: -5%;
        padding-left: 5%;
        margin-top: -20px;
    }

    main .third-column .tree-container {
        padding-left: 15%;
    }

    main .third-column .tree-container p a {
        line-height: 50px;
    }

    main .second-column .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    main .hide {
        animation: slideOut 0.5s ease-out;
    }

    main .footer {
        display: block;
    }

    @keyframes slideOut {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-100%);
        }
    }

    main .show {
        animation: slideIn 0.5s ease-out;
    }

    .footer {
        padding-bottom: 100px;
        margin-top: 0;
    }

    @keyframes slideIn {
        from {
            transform: translateY(-100%);
        }
        to {
            transform: translateY(0);
        }
    }
}

@media (max-width: 768px) {
    main .second-column .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    main .second-column .code-container .code-frame-icon {
        top: 8px;
        right: 8px;
    }

    .footer {
        padding-bottom: 100px;
    }
}