html , body {
    width: 100% !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

body {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    min-height: 100vh;
    background-image: url("../img/background-desktop.jpg");
    /*background-image: url("../img/background-desktop.png");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #0C0C2C;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

header {
    padding: 2.08vw 7%;
}

header .logo {
    margin-top: 1.25vw;
    width: 10.03%;
}

main {
    position: relative;
    margin: 1.04vw 7vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-column {
    margin-bottom: 5vw;
}

.line {
    width: 20.52vw;
    height: 0.10vw;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 84.86%);
}

.column {
    width: 50%;
}

.second-column {
    position: absolute;
    left: 55%;
    top: 28vh;
    padding-left: 5%;
}

.content {
    color: rgba(255, 255, 255, 1);
    width: 100%;
    /*margin-top: auto;*/
    margin-top: 25vh;
    font-size: 1.7vw;
    font-family: 'Mona Sans', sans-serif;
}

.content .download {
    background: rgba(241, 8, 55, 1);
    border-radius: 0.5em;
    border: 0.1vw solid rgba(241, 8, 55, 1);
    padding: 1.5vw 4vw;
    color: #FFFFFF;
    gap: 0.52vw;;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 0.99vw;
    cursor: pointer;
    font-family: 'Mona Sans', sans-serif;
    text-decoration: none;
}

.content .download:hover {
    background: rgba(255, 45, 87, 1);
}

.content .download:active {
    background: rgba(210, 4, 45, 1);
}

.content .get-started {
    background: transparent;
    border-radius: 0.5em;
    border: 0.15vw solid rgba(241, 8, 55, 1);
    padding: 1.3vw 3.5vw;
    color: #FFFFFF;
    gap: 0.52vw;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 1.25vw;
    margin-left: 1.04vw;
    cursor: pointer;
    font-family: 'Mona Sans', sans-serif;
    text-decoration: none;
}

.content .get-started:hover {
    border-color: rgba(255, 45, 87, 1);
}

.content .get-started:active {
    border-color: rgba(178, 0, 36, 1);
}

.content .third-column p {
    font-family: 'Mona Sans', sans-serif;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 1.25vw;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    padding-top: 0.4vw;
    margin-top: 1.2vw;
}

.content .swift-for-android-text {
    font-family: 'Mona Sans Expanded', sans-serif;
    font-size: 4vw;
    line-height: 6.01vw;
    font-weight: 500;
    margin: 0;
}

.content .description {
    line-height: 2.2vw;
    margin-bottom: 3.33vw;
}

.content .options:first-child {
    line-height: 1.51vw;
}

.content .options {
    line-height: 1.56vw;
    margin-top: 2.7vw;
    margin-bottom: 2.7vw;
}

footer {
    margin-top: auto;
    background-color: transparent;
    padding: 5vw 7% 2.08vw 7%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

footer p {
    margin: 0;
    color: rgba(255, 255, 255, 0.4);
    font-family: 'Mona-Sans', sans-serif;
    font-size: 1.1vw;
    line-height: 1.25vw;
}

footer .social-media-container {
    width: 100%;
    max-width: 20.83vw;
    display: flex;
    align-items: end;
    justify-content: end;
}

footer .social-media-container svg {
    width: 2.3vw;
    padding: 0 0.3vw;
}

@media (max-width: 992px) {
    html, body, footer {
        overflow-y: scroll !important;
        position: relative;
        z-index: 1;
    }
    body {
        overflow-y: scroll;
        overflow-x: hidden;
        margin: 0 auto;
        background-position: 69% top;
        background-attachment: scroll;
        background-size: 1190px auto;
    }

    body::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba(12, 12, 44, 0.1) 0%, rgba(12, 12, 44, 0.1) 330px, rgba(12, 12, 44, 0.9) 660px, rgba(12, 12, 44, 1) 100%);
        pointer-events: none;
    }

    header .logo {
        margin-top: 12px;
        width: 135px;
    }

    .content {
        display: flex;
        flex-direction: column;
        max-height: none;
        padding-top: 300px;
        margin-top: auto;
    }

    .line {
        width: 60%;
        height: 2px;
    }

    .column {
        width: 100%;
    }

    .first-column {
        order: 1;
    }

    .second-column {
        position: relative;
        left: 0;
        order: 2;
        padding: 0;
        align-items: start;
        bottom: -5%;
        top: auto;
    }

    .third-column {
        order: 3;
    }

    .content .swift-for-android-text {
        font-size: 40px;
        line-height: 48px;
    }

    .content .description {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 16px;
    }

    .content .options {
        font-size: 22px;
        line-height: 26px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .content .third-column .download {
        width: 100%;
        height: 59px;
        margin-top: 16px;
        font-size: 16px;
        box-sizing: border-box;
    }

    .content .get-started {
        width: 100%;
        height: 59px;
        font-size: 16px;
        box-sizing: border-box;
        outline: none;
        margin: 59px 0;
        border-width: 2px;
    }

    .content .third-column p {
        font-size: 16px;
        width: 100%;
        text-align: center;
        padding-top: 12px;
    }

    footer p {
        font-size: 16px;
    }

    footer .social-media-container svg {
        width: 32px;
    }
}

@media (max-width: 768px) {
    .line {
        width: 80%;
    }

    footer {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    footer .social-media-container {
        margin-top: 16px;
        align-items: start;
        justify-content: start;
    }

    footer .social-media-container img:first-child {
        padding-left: 0;
    }
}

@media (max-width: 470px) {
    body {
        background-image: url('../img/background-small.png');
        background-attachment: scroll;
        background-size: cover;
        background-position: top right;
        background-repeat: no-repeat;
    }

    .line {
        width: 90%;
    }
}